/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

@-webkit-keyframes scroll-title {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll-title {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
html {
  font-size: 2.6666666667vw;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3020833333vw;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 0.5208333333vw;
  }
}

body {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  line-height: 1;
  color: #003986;
}

a,
button {
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

picture {
  display: block;
}

span {
  display: inline-block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 30px;
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#003986), to(rgba(0, 57, 134, 0)));
  background-image: linear-gradient(to bottom, #003986, rgba(0, 57, 134, 0));
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  z-index: -1;
}
.header.js-hidden {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header.js-white-mode::before {
  opacity: 1;
}
.header.js-white-mode .header__inner {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 80px 80px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-filter 0.3s ease-out;
  transition: -webkit-filter 0.3s ease-out;
  transition: filter 0.3s ease-out;
  transition: filter 0.3s ease-out, -webkit-filter 0.3s ease-out;
}
@media screen and (min-width: 1024px) {
  .header__inner {
    gap: 250px;
  }
}
.header__logo-link {
  width: 150px;
}
@media screen and (min-width: 1024px) {
  .header__logo-link {
    width: 218px;
  }
}
.gnav-sp {
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  .gnav-sp {
    display: none;
  }
}
.gnav-sp__list-wrapper {
  pointer-events: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 30px;
  border-radius: 23px;
  background-color: #003986;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-transition: width 0.4s ease-out 0.4s, height 0.4s ease-out 0.4s, opacity 0.4s ease-out 0.4s;
  transition: width 0.4s ease-out 0.4s, height 0.4s ease-out 0.4s, opacity 0.4s ease-out 0.4s;
}
@media screen and (min-width: 768px) {
  .gnav-sp__list-wrapper {
    padding: 40px;
    gap: 40px;
  }
}
.gnav-sp__list-wrapper.js-actived {
  pointer-events: auto;
  opacity: 1;
  width: 208px;
  height: 330px;
  -webkit-transition: width 0.4s ease-out 0s, height 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
  transition: width 0.4s ease-out 0s, height 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
}
@media screen and (min-width: 768px) {
  .gnav-sp__list-wrapper.js-actived {
    width: 261px;
    height: 400px;
  }
}
.gnav-sp__list {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out 0s;
  transition: opacity 0.4s ease-out 0s;
}
.gnav-sp__list.js-actived {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out 0.4s;
  transition: opacity 0.4s ease-out 0.4s;
}
.gnav-sp__list-link {
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #fff;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.gnav-sp__list-link.js-actived {
  color: #d7ca25;
}
@media screen and (min-width: 768px) {
  .gnav-sp__list-link {
    font-size: 22px;
  }
}

.gnav-pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .gnav-pc {
    display: block;
  }
  .gnav-pc.js-white .gnav-pc__list-link {
    color: #fff;
  }
}
.gnav-pc__list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  row-gap: 10px;
}
.gnav-pc__list-link {
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 18px;
  color: #003986;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.footer {
  position: relative;
  padding-bottom: 26rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 48rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-bottom: 113rem;
  }
}
.footer__inner {
  padding: 0 30px;
  padding-top: 40px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
  background-color: #003986;
}
@media screen and (min-width: 1024px) {
  .footer__inner {
    padding: 0 80px;
  }
}
.footer__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 60px);
  height: 1px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__inner {
    padding-bottom: 240px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__inner::before {
    width: calc(100% - 160px);
  }
}
.footer__logo-link {
  width: clamp(150px, 15rem, 300px);
  aspect-ratio: 150/32;
  background-color: #adadad;
}
@media screen and (min-width: 768px) {
  .footer__logo-link {
    width: clamp(300px, 30rem, 400px);
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo-link {
    width: 300px;
  }
}
.footer__copyright {
  color: #fff;
  font-size: clamp(10px, 1rem, 13px);
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: clamp(13px, 1.3rem, 14px);
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .footer__br {
    display: none;
  }
}
.footer__bg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: -1;
}
.footer__picture {
  width: 100%;
  aspect-ratio: 375/158;
  background-color: #adadad;
}
.footer__back-button {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d7ca25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .footer__back-button {
    right: 20px;
    width: 64px;
    height: 64px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__back-button {
    right: 30px;
    width: 94px;
    height: 94px;
  }
}
.footer__button-image {
  width: 10px;
}
@media screen and (min-width: 768px) {
  .footer__button-image {
    width: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__button-image {
    width: 24px;
  }
}
.footer__button-text {
  font-family: "Roboto Slab", serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 768px) {
  .footer__button-text {
    font-size: 11px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__button-text {
    font-size: 16px;
  }
}

.opening {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
}
.opening__start-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
}
.opening__end-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #003986;
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
  z-index: 2;
}
.opening__logo-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 3;
}
.opening__logo {
  width: 218px;
  -webkit-transition: -webkit-filter 0.3s ease-out;
  transition: -webkit-filter 0.3s ease-out;
  transition: filter 0.3s ease-out;
  transition: filter 0.3s ease-out, -webkit-filter 0.3s ease-out;
}
.opening__logo.js-white-mode {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.main {
  overflow: hidden;
  background-color: #fff;
}

.fv {
  margin-bottom: 80px;
  height: calc(100svh + 44.7rem);
  position: relative;
}
@media screen and (min-width: 768px) {
  .fv {
    margin-bottom: 160px;
    height: calc(100svh + 76.8rem);
  }
}
@media screen and (min-width: 1024px) {
  .fv {
    height: calc(100vh + 52.6rem);
  }
}
.fv__inner {
  padding: 0 30px;
  height: calc(100% - 44.7rem);
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .fv__inner {
    padding: 0 80px;
  }
}
@media screen and (min-width: 768px) {
  .fv__inner {
    height: calc(100% - 76.8rem);
  }
}
@media screen and (min-width: 1024px) {
  .fv__inner {
    height: calc(100% - 52.6rem);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.fv__title-wrapper {
  display: grid;
}
@media screen and (min-width: 1024px) {
  .fv__title-wrapper {
    margin-bottom: 80px;
  }
}
.fv__title {
  padding-bottom: 0.1em;
  font-family: "Roboto Slab", serif;
  font-size: clamp(50px, 5rem, 85px);
  letter-spacing: 0.05em;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .fv__title {
    font-size: clamp(85px, 8.5rem, 100px);
  }
}
@media screen and (min-width: 1024px) {
  .fv__title {
    font-size: clamp(60px, 11.5rem, 115px);
  }
}
.fv__sub-title {
  padding-bottom: 0.1em;
  margin-top: 1rem;
  font-family: "Roboto Slab", serif;
  font-size: clamp(15px, 1.5rem, 25px);
  font-weight: 700;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .fv__sub-title {
    margin-top: 1.5rem;
    font-size: clamp(25px, 2.5rem, 28px);
  }
}
@media screen and (min-width: 1024px) {
  .fv__sub-title {
    margin-top: 2rem;
    font-size: clamp(18px, 2.8rem, 28px);
  }
}
.fv__image-wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 79.1959594929rem;
  height: 79.1959594929rem;
}
@media screen and (min-width: 768px) {
  .fv__image-wrapper {
    width: 130.1076477383rem;
    height: 130.1076477383rem;
  }
}
@media screen and (min-width: 1024px) {
  .fv__image-wrapper {
    bottom: initial;
    top: -27.5rem;
    -webkit-transform: translateX(-9%);
            transform: translateX(-9%);
    width: 188.0904037956rem;
    height: 188.0904037956rem;
  }
}
.fv__picture-1, .fv__picture-2, .fv__picture-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  aspect-ratio: 1;
}
.fv__picture-1 {
  width: 70.7106781187%;
  background-color: #747474;
}
.fv__picture-2 {
  width: 50.5076272276%;
  background-color: #adadad;
}
@media screen and (min-width: 768px) {
  .fv__picture-2 {
    width: 52.2644142616%;
  }
}
@media screen and (min-width: 1024px) {
  .fv__picture-2 {
    width: 49.4443087597%;
  }
}
.fv__picture-3 {
  width: 30.3045763366%;
  background-color: #ebebeb;
}
@media screen and (min-width: 768px) {
  .fv__picture-3 {
    width: 33.8181504046%;
  }
}
@media screen and (min-width: 1024px) {
  .fv__picture-3 {
    width: 28.1779394007%;
  }
}

.introduction {
  padding-bottom: 160px;
}
@media screen and (min-width: 768px) {
  .introduction {
    padding-bottom: 240px;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__scroll-area {
    overflow: hidden;
  }
}
.introduction__inner {
  padding: 0 30px;
}
@media screen and (min-width: 1024px) {
  .introduction__inner {
    padding: 0 80px;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__inner {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.introduction__title-wrapper {
  margin-bottom: 40px;
  display: grid;
}
@media screen and (min-width: 768px) {
  .introduction__title-wrapper {
    place-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__title-wrapper {
    margin-bottom: 0;
    margin-right: 10rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.introduction__title {
  color: #d7ca25;
  font-family: "Roboto Slab", serif;
  font-size: clamp(75px, 7.5rem, 122px);
  letter-spacing: 0.03em;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .introduction__title {
    font-size: clamp(122px, 12.2rem, 180px);
  }
}
@media screen and (min-width: 1024px) {
  .introduction__title {
    font-size: clamp(180px, 23rem, 230px);
  }
}
.introduction__text {
  margin-bottom: 40px;
  font-size: clamp(20px, 2rem, 30px);
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .introduction__text {
    font-size: clamp(30px, 3rem, 36px);
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__text {
    margin-bottom: 0;
    margin-right: 20rem;
    font-size: clamp(22px, 2.8rem, 28px);
    text-align: left;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.introduction__image-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .introduction__image-wrapper {
    width: calc(100% - 15.4rem);
    gap: 2.4rem;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__image-wrapper {
    width: 112rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.introduction__picture-1, .introduction__picture-2, .introduction__picture-3, .introduction__picture-4 {
  aspect-ratio: 150/210;
  background-color: #747474;
  position: relative;
}
.introduction__picture-1, .introduction__picture-3 {
  top: 50px;
}
@media screen and (min-width: 1024px) {
  .introduction__picture-1, .introduction__picture-3 {
    top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__picture-2, .introduction__picture-4 {
    top: 0;
  }
}

.brand {
  position: relative;
}
.brand__title-wrapper {
  position: relative;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  --background-position-value: center 0%;
}
.brand__title-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 67.5rem;
  height: 67.5rem;
  border-radius: 50%;
  background-image: url(../images/brand_bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: var(--background-position-value);
}
@media screen and (min-width: 768px) {
  .brand__title-wrapper {
    height: 35rem;
  }
  .brand__title-wrapper::before {
    width: 138rem;
    height: 138rem;
  }
}
@media screen and (min-width: 1024px) {
  .brand__title-wrapper {
    height: 70rem;
  }
  .brand__title-wrapper::before {
    width: 345.6rem;
    height: 345.6rem;
  }
}
.brand__title {
  margin-right: 0.5em;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: clamp(44px, 4.4rem, 70px);
  letter-spacing: 0.03em;
  white-space: nowrap;
  -webkit-animation: scroll-title 15s linear infinite;
          animation: scroll-title 15s linear infinite;
}
@media screen and (min-width: 768px) {
  .brand__title {
    font-size: clamp(70px, 7rem, 120px);
  }
}
@media screen and (min-width: 1024px) {
  .brand__title {
    font-size: clamp(120px, 17.2rem, 172px);
  }
}
.brand__inner {
  padding: 0 30px;
  padding-top: 90px;
  padding-bottom: 160px;
  background-color: #003986;
}
@media screen and (min-width: 1024px) {
  .brand__inner {
    padding: 0 80px;
  }
}
@media screen and (min-width: 768px) {
  .brand__inner {
    padding-bottom: 240px;
  }
}
@media screen and (min-width: 1024px) {
  .brand__inner {
    padding-top: 150px;
  }
}
.brand__text-area {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .brand__text-area {
    margin-bottom: 150px;
    margin-inline: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
    max-width: 1150px;
  }
}
.brand__heading {
  color: #fff;
  font-size: clamp(24px, 2.4rem, 30px);
  font-weight: 700;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .brand__heading {
    font-size: clamp(30px, 3rem, 38px);
  }
}
@media screen and (min-width: 1024px) {
  .brand__heading {
    font-size: 30px;
    width: 50%;
  }
}
.brand__text {
  color: #fff;
  font-size: clamp(16px, 1.6rem, 22px);
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .brand__text {
    font-size: clamp(22px, 2.2rem, 28px);
  }
}
@media screen and (min-width: 1024px) {
  .brand__text {
    font-size: 22px;
    width: 50%;
  }
}
.brand__list-wrapper {
  margin-bottom: 30px;
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .brand__list-wrapper {
    margin-bottom: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .brand__list-wrapper {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    row-gap: 120px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
}
.brand__picture {
  aspect-ratio: 1;
  border-radius: 15px;
  background-color: #adadad;
}
.brand__overview-area {
  padding: 60px 30px;
  background-color: #fff;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .brand__overview-area {
    padding: 80px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .brand__overview-area {
    padding: 160px;
    border-radius: 23px;
  }
}
.brand__overview-title {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: clamp(30px, 3rem, 44px);
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .brand__overview-title {
    margin-bottom: 50px;
    font-size: clamp(44px, 4.4rem, 48px);
  }
}
@media screen and (min-width: 1024px) {
  .brand__overview-title {
    margin-bottom: 120px;
    font-size: clamp(48px, 5.2rem, 52px);
  }
}
@media screen and (min-width: 1024px) {
  .brand__title-br {
    display: none;
  }
}
.brand__bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1440px) {
  .brand__bottom-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 80px;
  }
}
.brand__left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1440px) {
  .brand__left-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.brand__overview-logo {
  margin-bottom: 30px;
  width: clamp(200px, 20rem, 400px);
  aspect-ratio: 200/42;
  background-color: #747474;
}
@media screen and (min-width: 768px) {
  .brand__overview-logo {
    margin-bottom: 40px;
    width: clamp(400px, 40rem, 480px);
  }
}
@media screen and (min-width: 1440px) {
  .brand__overview-logo {
    margin-bottom: 0;
    width: clamp(480px, 55rem, 550px);
  }
}
.brand__overview-link {
  margin-bottom: 50px;
  padding: 1em 0;
  width: clamp(200px, 20rem, 256px);
  display: grid;
  place-content: center;
  border-radius: 100vmax;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: clamp(20px, 2rem, 28px);
  background-color: #6ac2cf;
}
@media screen and (min-width: 768px) {
  .brand__overview-link {
    margin-bottom: 60px;
    width: clamp(256px, 25.6rem, 300px);
    font-size: clamp(28px, 2.8rem, 34px);
  }
}
@media screen and (min-width: 1440px) {
  .brand__overview-link {
    margin-bottom: 0;
    width: clamp(180px, 21rem, 210px);
    font-size: clamp(18px, 2rem, 20px);
  }
}
.brand__overview-text {
  font-size: clamp(15px, 1.5rem, 22px);
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .brand__overview-text {
    font-size: clamp(22px, 2.2rem, 28px);
  }
}
@media screen and (min-width: 1440px) {
  .brand__overview-text {
    font-size: 22px;
    width: 68rem;
  }
}

.present {
  position: relative;
}
.present__title-wrapper {
  position: relative;
  height: 25rem;
  background-color: #003986;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  --background-position-value: center 0%;
}
.present__title-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 67.5rem;
  height: 67.5rem;
  border-radius: 50%;
  background-image: url(../images/present_bg-sp.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: var(--background-position-value);
}
@media screen and (min-width: 768px) {
  .present__title-wrapper {
    height: 35rem;
  }
  .present__title-wrapper::before {
    width: 138rem;
    height: 138rem;
    background-image: url(../images/present_bg-tab.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .present__title-wrapper {
    height: 70rem;
    background-color: transparent;
  }
  .present__title-wrapper::before {
    width: 345.6rem;
    height: 345.6rem;
    background-image: url(../images/present_bg-pc.jpg);
  }
}
.present__title {
  margin-right: 0.5em;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: clamp(44px, 4.4rem, 70px);
  letter-spacing: 0.03em;
  white-space: nowrap;
  -webkit-animation: scroll-title 15s linear infinite;
          animation: scroll-title 15s linear infinite;
}
@media screen and (min-width: 768px) {
  .present__title {
    font-size: clamp(70px, 7rem, 120px);
  }
}
@media screen and (min-width: 1024px) {
  .present__title {
    font-size: clamp(120px, 17.2rem, 172px);
  }
}
.present__inner {
  padding: 0 30px;
  padding-top: 90px;
  padding-bottom: 160px;
  background-color: #6ac2cf;
}
@media screen and (min-width: 1024px) {
  .present__inner {
    padding: 0 80px;
  }
}
@media screen and (min-width: 768px) {
  .present__inner {
    padding-bottom: 240px;
  }
}
@media screen and (min-width: 1024px) {
  .present__inner {
    padding-top: 150px;
  }
}
.present__text-area {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .present__text-area {
    margin-bottom: 150px;
    margin-inline: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
    max-width: 1150px;
  }
}
.present__heading {
  color: #fff;
  font-size: clamp(24px, 2.4rem, 30px);
  font-weight: 700;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .present__heading {
    font-size: clamp(30px, 3rem, 38px);
  }
}
@media screen and (min-width: 1024px) {
  .present__heading {
    font-size: 30px;
    width: 50%;
  }
}
.present__text {
  color: #fff;
  font-size: clamp(16px, 1.6rem, 22px);
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .present__text {
    font-size: clamp(22px, 2.2rem, 28px);
  }
}
@media screen and (min-width: 1024px) {
  .present__text {
    font-size: 22px;
    width: 50%;
  }
}
.present__list-wrapper {
  display: grid;
  gap: 80px;
  position: relative;
}
.present__list {
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .present__list {
    padding: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .present__list {
    padding: 40px 80px;
    border-radius: 35px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 160px;
    position: relative;
  }
  .present__list::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1px;
    height: calc(100% - 80px);
    background-color: rgba(110, 110, 110, 0.25);
  }
}
.present__list-picture {
  margin-bottom: 30px;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #747474;
}
@media screen and (min-width: 768px) {
  .present__list-picture {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .present__list-picture {
    margin-bottom: 0;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .present__list-box {
    width: 50%;
  }
}
.present__list-title {
  margin-bottom: 30px;
  font-size: clamp(22px, 2.2rem, 28px);
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .present__list-title {
    font-size: clamp(28px, 2.8rem, 30px);
  }
}
@media screen and (min-width: 1024px) {
  .present__list-title {
    margin-bottom: 40px;
    font-size: 30px;
  }
}
.present__list-text {
  font-size: clamp(13px, 1.3rem, 22px);
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .present__list-text {
    font-size: clamp(22px, 2.2rem, 26px);
  }
}
@media screen and (min-width: 1024px) {
  .present__list-text {
    font-size: 17px;
  }
}

.outline {
  position: relative;
}
.outline__title-wrapper {
  position: relative;
  height: 25rem;
  background-color: #6ac2cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  --background-position-value: center 0%;
}
.outline__title-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 67.5rem;
  height: 67.5rem;
  border-radius: 50%;
  background-image: url(../images/outline_bg-sp.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: var(--background-position-value);
}
@media screen and (min-width: 768px) {
  .outline__title-wrapper {
    height: 35rem;
  }
  .outline__title-wrapper::before {
    width: 138rem;
    height: 138rem;
    background-image: url(../images/outline_bg-tab.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .outline__title-wrapper {
    height: 70rem;
    background-color: transparent;
  }
  .outline__title-wrapper::before {
    width: 345.6rem;
    height: 345.6rem;
    background-image: url(../images/outline_bg-pc.jpg);
  }
}
.outline__title {
  margin-right: 0.5em;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: clamp(44px, 4.4rem, 70px);
  letter-spacing: 0.03em;
  white-space: nowrap;
  -webkit-animation: scroll-title 15s linear infinite;
          animation: scroll-title 15s linear infinite;
}
@media screen and (min-width: 768px) {
  .outline__title {
    font-size: clamp(70px, 7rem, 120px);
  }
}
@media screen and (min-width: 1024px) {
  .outline__title {
    font-size: clamp(120px, 17.2rem, 172px);
  }
}
.outline__inner {
  padding: 0 30px;
  padding-top: 90px;
  padding-bottom: 160px;
  background-color: #003986;
}
@media screen and (min-width: 1024px) {
  .outline__inner {
    padding: 0 80px;
  }
}
@media screen and (min-width: 768px) {
  .outline__inner {
    padding-bottom: 240px;
  }
}
@media screen and (min-width: 1024px) {
  .outline__inner {
    padding-top: 150px;
  }
}
.outline__text-area {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .outline__text-area {
    margin-bottom: 150px;
    margin-inline: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
    max-width: 1150px;
  }
}
.outline__heading {
  color: #fff;
  font-size: clamp(24px, 2.4rem, 30px);
  font-weight: 700;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .outline__heading {
    font-size: clamp(30px, 3rem, 38px);
  }
}
@media screen and (min-width: 1024px) {
  .outline__heading {
    font-size: 30px;
    width: 50%;
  }
}
.outline__text {
  color: #fff;
  font-size: clamp(16px, 1.6rem, 22px);
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .outline__text {
    font-size: clamp(22px, 2.2rem, 28px);
  }
}
@media screen and (min-width: 1024px) {
  .outline__text {
    font-size: 22px;
    width: 50%;
  }
}
.outline__list-wrapper {
  padding: 60px 30px;
  border-radius: 15px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .outline__list-wrapper {
    padding: 60px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .outline__list-wrapper {
    padding: 160px;
    border-radius: 23px;
  }
}
.outline__list {
  padding: 40px 0;
  display: grid;
  gap: 40px;
  position: relative;
}
.outline__list:first-of-type {
  padding: 0 0 40px;
}
.outline__list:last-of-type {
  padding: 40px 0 0;
}
.outline__list:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(110, 110, 110, 0.25);
}
@media screen and (min-width: 1440px) {
  .outline__list {
    padding: 50px 0;
    grid-template-columns: 1fr 3.5fr;
  }
  .outline__list:first-of-type {
    padding: 0 0 50px;
  }
  .outline__list:last-of-type {
    padding: 50px 0 0;
  }
}
.outline__list-title {
  padding-left: 28px;
  font-size: clamp(18px, 1.8rem, 24px);
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 2;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.outline__list-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50%;
  aspect-ratio: 1;
  background-color: #adadad;
}
@media screen and (min-width: 768px) {
  .outline__list-title {
    padding-left: 38px;
    font-size: clamp(24px, 2.4rem, 28px);
  }
}
@media screen and (min-width: 1024px) {
  .outline__list-title {
    font-size: clamp(20px, 2.4rem, 24px);
  }
}
.outline__list-title-note {
  font-size: clamp(10px, 1rem, 16px);
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .outline__list-title-note {
    font-size: clamp(16px, 1.6rem, 18px);
  }
}
@media screen and (min-width: 1024px) {
  .outline__list-title-note {
    font-size: 16px;
  }
}
.outline__list-text {
  line-height: 2;
}
.outline__list-text--normal {
  font-size: clamp(12px, 1.2rem, 18px);
}
@media screen and (min-width: 768px) {
  .outline__list-text--normal {
    font-size: clamp(18px, 1.8rem, 22px);
  }
}
@media screen and (min-width: 1024px) {
  .outline__list-text--normal {
    font-size: 18px;
  }
}
.outline__list-text--large {
  font-size: clamp(15px, 1.5rem, 18px);
}
@media screen and (min-width: 768px) {
  .outline__list-text--large {
    font-size: clamp(18px, 1.8rem, 22px);
  }
}
@media screen and (min-width: 1024px) {
  .outline__list-text--large {
    font-size: 22px;
  }
}
.outline__list-text--small {
  font-size: clamp(13px, 1.3rem, 16px);
}
@media screen and (min-width: 768px) {
  .outline__list-text--small {
    font-size: clamp(16px, 1.6rem, 18px);
  }
}
@media screen and (min-width: 1024px) {
  .outline__list-text--small {
    font-size: 16px;
  }
}

.hamburger-button {
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  .hamburger-button {
    display: none;
  }
}
.hamburger-button__button {
  cursor: pointer;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100vmax;
  background-color: #003986;
  opacity: 0.9;
  position: relative;
}
.hamburger-button__button.js-actived .hamburger-button__line.top {
  -webkit-transform: translate(-50%, -50%) rotate(-30deg);
          transform: translate(-50%, -50%) rotate(-30deg);
}
.hamburger-button__button.js-actived .hamburger-button__line.center {
  opacity: 0;
}
.hamburger-button__button.js-actived .hamburger-button__line.bottom {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
          transform: translate(-50%, -50%) rotate(30deg);
}
.hamburger-button__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36%;
  height: 2px;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: #6ac2cf;
  -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
.hamburger-button__line.top {
  -webkit-transform: translate(-50%, calc(-50% - 6px));
          transform: translate(-50%, calc(-50% - 6px));
}
.hamburger-button__line.center {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hamburger-button__line.bottom {
  -webkit-transform: translate(-50%, calc(-50% + 6px));
          transform: translate(-50%, calc(-50% + 6px));
}/*# sourceMappingURL=style.css.map */