@use "../global" as *;

.main {
  overflow-x: hidden;
}

.fv {
  height: calc(100svh + 44.7rem);
  position: relative;

  @include tab {
    height: calc(100svh + 76.8rem);
  }

  @include pc {
    height: calc(100vh + 52.6rem);
  }

  &__inner {
    @include section-inner;
    height: calc(100% - 44.7rem);
    display: grid;
    align-items: center;
    position: relative;
    z-index: 1;

    @include tab {
      height: calc(100% - 76.8rem);
    }

    @include pc {
      height: calc(100% - 52.6rem);
      align-items: end;
    }
  }

  &__title-wrapper {
    display: grid;

    @include pc {
      margin-bottom: 80px;
    }
  }

  &__title {
    padding-bottom: 0.1em;
    font-family: $roboto-slab;
    font-size: clamp(50px, 5rem, 85px);
    letter-spacing: 0.05em;
    white-space: nowrap;
    overflow: hidden;

    @include tab {
      font-size: clamp(85px, 8.5rem, 100px);
    }

    @include pc {
      font-size: clamp(60px, 11.5rem, 115px);
    }
  }

  &__sub-title {
    padding-bottom: 0.1em;
    margin-top: 1rem;
    font-family: $roboto-slab;
    font-size: clamp(15px, 1.5rem, 25px);
    font-weight: 700;
    overflow: hidden;

    @include tab {
      margin-top: 1.5rem;
      font-size: clamp(25px, 2.5rem, 28px);
    }

    @include pc {
      margin-top: 2rem;
      font-size: clamp(18px, 2.8rem, 28px);
    }
  }

  &__image-wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(56rem * sqrt(2));
    height: calc(56rem * sqrt(2));

    @include tab {
      width: calc(92rem * sqrt(2));
      height: calc(92rem * sqrt(2));
    }

    @include pc {
      bottom: initial;
      top: -27.5rem;
      transform: translateX(-9%);
      width: calc(133rem * sqrt(2));
      height: calc(133rem * sqrt(2));
    }
  }

  &__picture-1,
  &__picture-2,
  &__picture-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;

    img {
    }
  }

  &__picture-1 {
    width: calc(100% / sqrt(2));
    background-color: $dammy;
  }

  &__picture-2 {
    width: calc(40% / (56 * sqrt(2)) * 100);
    background-color: $yellow;

    @include tab {
      width: calc(68% / (92 * sqrt(2)) * 100);
    }

    @include pc {
      width: calc(93% / (133 * sqrt(2)) * 100);
    }
  }

  &__picture-3 {
    width: calc(24% / (56 * sqrt(2)) * 100);
    background-color: $blue;

    @include tab {
      width: calc(44% / (92 * sqrt(2)) * 100);
    }

    @include pc {
      width: calc(53% / (133 * sqrt(2)) * 100);
    }
  }
}

.introduction {
  @include section-common;

  &__scroll-area {
    @include pc {
      overflow: hidden;
    }
  }

  &__inner {
    @include section-inner;

    @include pc {
      height: 100vh;
      display: flex;
      align-items: center;
    }
  }

  &__title-wrapper {
    margin-bottom: 40px;
    display: grid;

    @include tab {
      place-content: center;
    }

    @include pc {
      margin-bottom: 0;
      margin-right: 10rem;
      flex-shrink: 0;
    }
  }

  &__title {
    font-family: $roboto-slab;
    font-size: clamp(75px, 7.5rem, 122px);
    letter-spacing: 0.03em;
    overflow: hidden;

    @include tab {
      font-size: clamp(122px, 12.2rem, 180px);
    }

    @include pc {
      font-size: clamp(180px, 23rem, 230px);
    }
  }

  &__text {
    margin-bottom: 40px;
    font-size: clamp(20px, 2rem, 30px);
    font-weight: 700;
    line-height: 1.6;

    @include tab {
      font-size: clamp(30px, 3rem, 36px);
      text-align: center;
    }

    @include pc {
      margin-bottom: 0;
      margin-right: 20rem;
      font-size: clamp(22px, 2.8rem, 28px);
      text-align: left;
      flex-shrink: 0;
    }
  }

  &__image-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    @include tab {
      width: calc(100% - 15.4rem);
      gap: 2.4rem;
      margin-inline: auto;
    }

    @include pc {
      width: 112rem;
      grid-template-columns: repeat(4, 1fr);
      gap: 0;
      flex-shrink: 0;
    }
  }

  &__picture-1,
  &__picture-2,
  &__picture-3,
  &__picture-4 {
    aspect-ratio: 150 / 210;
    background-color: $dammy;
    position: relative;
  }

  &__picture-1,
  &__picture-3 {
    top: 50px;

    @include pc {
      top: 0;
    }
  }

  &__picture-2,
  &__picture-4 {
    @include pc {
      top: 0;
    }
  }
}

.brand {
  @include section-common;
}

.present {
}

.outline {
}

.hamburger-button {
  position: fixed;
  right: 30px;
  bottom: 40px;
  $parent: &;
  z-index: 100;

  @include pc {
    display: none;
  }

  &__button {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100vmax;
    background-color: $blue;
    opacity: 0.9;
    position: relative;

    &.js-actived {
      #{$parent}__line.top {
        transform: translate(-50%, -50%) rotate(-30deg);
      }

      #{$parent}__line.center {
        opacity: 0;
      }

      #{$parent}__line.bottom {
        transform: translate(-50%, -50%) rotate(30deg);
      }
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36%;
    height: 2px;
    transform-origin: center;
    background-color: $light-blue;
    transition:
      transform 0.4s ease-out,
      opacity 0.4s ease-out;

    &.top {
      transform: translate(-50%, calc(-50% - 6px));
    }

    &.center {
      transform: translate(-50%, -50%);
    }

    &.bottom {
      transform: translate(-50%, calc(-50% + 6px));
    }
  }
}
