@use "../global" as *;

.main {
  overflow-x: hidden;
  background-color: $white;
}

.fv {
  margin-bottom: 80px;
  height: calc(100svh + 44.7rem);
  position: relative;

  @include tab {
    margin-bottom: 160px;
    height: calc(100svh + 76.8rem);
  }

  @include pc {
    height: calc(100vh + 52.6rem);
  }

  &__inner {
    @include section-inner;
    height: calc(100% - 44.7rem);
    display: grid;
    align-items: center;
    position: relative;
    z-index: 1;

    @include tab {
      height: calc(100% - 76.8rem);
    }

    @include pc {
      height: calc(100% - 52.6rem);
      align-items: end;
    }
  }

  &__title-wrapper {
    display: grid;

    @include pc {
      margin-bottom: 80px;
    }
  }

  &__title {
    padding-bottom: 0.1em;
    font-family: $roboto-slab;
    font-size: clamp(50px, 5rem, 85px);
    letter-spacing: 0.05em;
    white-space: nowrap;
    overflow: hidden;

    @include tab {
      font-size: clamp(85px, 8.5rem, 100px);
    }

    @include pc {
      font-size: clamp(60px, 11.5rem, 115px);
    }
  }

  &__sub-title {
    padding-bottom: 0.1em;
    margin-top: 1rem;
    font-family: $roboto-slab;
    font-size: clamp(15px, 1.5rem, 25px);
    font-weight: 700;
    overflow: hidden;

    @include tab {
      margin-top: 1.5rem;
      font-size: clamp(25px, 2.5rem, 28px);
    }

    @include pc {
      margin-top: 2rem;
      font-size: clamp(18px, 2.8rem, 28px);
    }
  }

  &__image-wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(56rem * sqrt(2));
    height: calc(56rem * sqrt(2));

    @include tab {
      width: calc(92rem * sqrt(2));
      height: calc(92rem * sqrt(2));
    }

    @include pc {
      bottom: initial;
      top: -27.5rem;
      transform: translateX(-9%);
      width: calc(133rem * sqrt(2));
      height: calc(133rem * sqrt(2));
    }
  }

  &__picture-1,
  &__picture-2,
  &__picture-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;

    img {
    }
  }

  &__picture-1 {
    width: calc(100% / sqrt(2));
    background-color: $dammy;
  }

  &__picture-2 {
    width: calc(40% / (56 * sqrt(2)) * 100);
    background-color: $dammy2;

    @include tab {
      width: calc(68% / (92 * sqrt(2)) * 100);
    }

    @include pc {
      width: calc(93% / (133 * sqrt(2)) * 100);
    }
  }

  &__picture-3 {
    width: calc(24% / (56 * sqrt(2)) * 100);
    background-color: $dammy3;

    @include tab {
      width: calc(44% / (92 * sqrt(2)) * 100);
    }

    @include pc {
      width: calc(53% / (133 * sqrt(2)) * 100);
    }
  }
}

.introduction {
  padding-bottom: 160px;

  @include tab {
    padding-bottom: 240px;
  }

  &__scroll-area {
    @include pc {
      overflow: hidden;
    }
  }

  &__inner {
    @include section-inner;

    @include pc {
      height: 100vh;
      display: flex;
      align-items: center;
    }
  }

  &__title-wrapper {
    margin-bottom: 40px;
    display: grid;

    @include tab {
      place-content: center;
    }

    @include pc {
      margin-bottom: 0;
      margin-right: 10rem;
      flex-shrink: 0;
    }
  }

  &__title {
    font-family: $roboto-slab;
    font-size: clamp(75px, 7.5rem, 122px);
    letter-spacing: 0.03em;
    overflow: hidden;

    @include tab {
      font-size: clamp(122px, 12.2rem, 180px);
    }

    @include pc {
      font-size: clamp(180px, 23rem, 230px);
    }
  }

  &__text {
    margin-bottom: 40px;
    font-size: clamp(20px, 2rem, 30px);
    font-weight: 700;
    line-height: 1.6;

    @include tab {
      font-size: clamp(30px, 3rem, 36px);
      text-align: center;
    }

    @include pc {
      margin-bottom: 0;
      margin-right: 20rem;
      font-size: clamp(22px, 2.8rem, 28px);
      text-align: left;
      flex-shrink: 0;
    }
  }

  &__image-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    @include tab {
      width: calc(100% - 15.4rem);
      gap: 2.4rem;
      margin-inline: auto;
    }

    @include pc {
      width: 112rem;
      grid-template-columns: repeat(4, 1fr);
      gap: 0;
      flex-shrink: 0;
    }
  }

  &__picture-1,
  &__picture-2,
  &__picture-3,
  &__picture-4 {
    aspect-ratio: 150 / 210;
    background-color: $dammy;
    position: relative;
  }

  &__picture-1,
  &__picture-3 {
    top: 50px;

    @include pc {
      top: 0;
    }
  }

  &__picture-2,
  &__picture-4 {
    @include pc {
      top: 0;
    }
  }
}

.brand {
  position: relative;
  &__title-wrapper {
    position: relative;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 67.5rem;
      height: 67.5rem;
      border-radius: 50%;
      background-color: $dammy2;
    }

    @include tab {
      height: 35rem;

      &::before {
        width: 138rem;
        height: 138rem;
      }
    }

    @include pc {
      height: 70rem;

      &::before {
        width: 345.6rem;
        height: 345.6rem;
      }
    }
  }

  &__title {
    margin-right: 0.5em;
    font-family: $roboto-slab;
    font-size: clamp(44px, 4.4rem, 70px);
    letter-spacing: 0.03em;
    white-space: nowrap;
    animation: scroll-title 15s linear infinite;

    @include tab {
      font-size: clamp(70px, 7rem, 120px);
    }

    @include pc {
      font-size: clamp(120px, 17.2rem, 172px);
    }
  }

  &__inner {
    @include section-inner;
    padding-top: 90px;
    padding-bottom: 160px;
    background-color: $dammy;

    @include tab {
      padding-bottom: 240px;
    }

    @include pc {
      padding-top: 150px;
    }
  }

  &__text-area {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include pc {
      margin-bottom: 150px;
      margin-inline: auto;
      flex-direction: row;
      justify-content: center;
      gap: 24px;
      max-width: 1150px;
    }
  }

  &__heading {
    font-size: clamp(24px, 2.4rem, 30px);
    font-weight: 700;
    line-height: 2;

    @include tab {
      font-size: clamp(30px, 3rem, 38px);
    }

    @include pc {
      font-size: 30px;
      width: 50%;
    }
  }

  &__text {
    font-size: clamp(16px, 1.6rem, 22px);
    line-height: 2;

    @include tab {
      font-size: clamp(22px, 2.2rem, 28px);
    }

    @include pc {
      font-size: 22px;
      width: 50%;
    }
  }

  &__list-wrapper {
    margin-bottom: 30px;
    display: grid;
    gap: 30px;

    @include tab {
      margin-bottom: 80px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include pc {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 60px;
      row-gap: 120px;
    }
  }

  &__picture {
    aspect-ratio: 1;
    border-radius: 15px;
    background-color: $dammy2;
  }

  &__overview-area {
    padding: 60px 30px;
    background-color: $white;
    border-radius: 15px;

    @include tab {
      padding: 80px 40px;
    }

    @include pc {
      padding: 160px;
      border-radius: 23px;
    }
  }

  &__overview-title {
    margin-bottom: 40px;
    font-family: $roboto-slab;
    font-weight: 600;
    font-size: clamp(30px, 3rem, 44px);
    line-height: 1.2;
    text-align: center;

    @include tab {
      margin-bottom: 50px;
      font-size: clamp(44px, 4.4rem, 48px);
    }

    @include pc {
      margin-bottom: 120px;
      font-size: clamp(48px, 5.2rem, 52px);
    }
  }

  &__title-br {
    @include pc {
      display: none;
    }
  }

  &__bottom-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include pc-large {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      gap: 80px;
    }
  }

  &__left-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include pc-large {
      justify-content: space-between;
    }
  }

  &__overview-logo {
    margin-bottom: 30px;
    width: clamp(200px, 20rem, 400px);
    aspect-ratio: 200 / 42;
    background-color: $dammy;

    @include tab {
      margin-bottom: 40px;
      width: clamp(400px, 40rem, 480px);
    }

    @include pc-large {
      margin-bottom: 0;
      width: clamp(480px, 55rem, 550px);
    }
  }

  &__overview-image {
  }

  &__overview-link {
    margin-bottom: 50px;
    padding: 1em 0;
    width: clamp(200px, 20rem, 256px);
    display: grid;
    place-content: center;
    border-radius: 100vmax;
    font-family: $roboto-slab;
    font-weight: 600;
    font-size: clamp(20px, 2rem, 28px);
    background-color: $dammy;

    @include tab {
      margin-bottom: 60px;
      width: clamp(256px, 25.6rem, 300px);
      font-size: clamp(28px, 2.8rem, 34px);
    }

    @include pc-large {
      margin-bottom: 0;
      width: clamp(180px, 21rem, 210px);
      font-size: clamp(18px, 2rem, 20px);
    }
  }

  &__overview-text {
    font-size: clamp(15px, 1.5rem, 22px);
    line-height: 2;

    @include tab {
      font-size: clamp(22px, 2.2rem, 28px);
    }

    @include pc-large {
      font-size: 22px;
      width: 68rem;
    }
  }
}

.present {
  position: relative;
  &__title-wrapper {
    position: relative;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 67.5rem;
      height: 67.5rem;
      border-radius: 50%;
      background-color: $dammy2;
    }

    @include tab {
      height: 35rem;

      &::before {
        width: 138rem;
        height: 138rem;
      }
    }

    @include pc {
      height: 70rem;

      &::before {
        width: 345.6rem;
        height: 345.6rem;
      }
    }
  }

  &__title {
    margin-right: 0.5em;
    font-family: $roboto-slab;
    font-size: clamp(44px, 4.4rem, 70px);
    letter-spacing: 0.03em;
    white-space: nowrap;
    animation: scroll-title 15s linear infinite;

    @include tab {
      font-size: clamp(70px, 7rem, 120px);
    }

    @include pc {
      font-size: clamp(120px, 17.2rem, 172px);
    }
  }

  &__inner {
    @include section-inner;
    padding-top: 90px;
    padding-bottom: 160px;
    background-color: $dammy;

    @include tab {
      padding-bottom: 240px;
    }

    @include pc {
      padding-top: 150px;
    }
  }

  &__text-area {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include pc {
      margin-bottom: 150px;
      margin-inline: auto;
      flex-direction: row;
      justify-content: center;
      gap: 24px;
      max-width: 1150px;
    }
  }

  &__heading {
    font-size: clamp(24px, 2.4rem, 30px);
    font-weight: 700;
    line-height: 2;

    @include tab {
      font-size: clamp(30px, 3rem, 38px);
    }

    @include pc {
      font-size: 30px;
      width: 50%;
    }
  }

  &__text {
    font-size: clamp(16px, 1.6rem, 22px);
    line-height: 2;

    @include tab {
      font-size: clamp(22px, 2.2rem, 28px);
    }

    @include pc {
      font-size: 22px;
      width: 50%;
    }
  }

  &__list-wrapper {
    display: grid;
    gap: 80px;
  }

  &__list {
    padding: 30px;
    background-color: $white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    @include tab {
      padding: 40px;
    }

    @include pc {
      padding: 40px 80px;
      border-radius: 35px;
      flex-direction: row-reverse;
      align-items: center;
      gap: 160px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: calc(100% - 80px);
        background-color: $black;
      }
    }
  }

  &__list-picture {
    margin-bottom: 30px;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: $dammy;

    @include tab {
      margin-bottom: 40px;
    }

    @include pc {
      margin-bottom: 0;
      width: 50%;
    }
  }

  &__list-box {
    @include pc {
      width: 50%;
    }
  }

  &__list-title {
    margin-bottom: 30px;
    font-size: clamp(22px, 2.2rem, 28px);
    font-weight: 700;

    @include tab {
      font-size: clamp(28px, 2.8rem, 30px);
    }

    @include pc {
      margin-bottom: 40px;
      font-size: 30px;
    }
  }

  &__list-text {
    font-size: clamp(13px, 1.3rem, 22px);
    line-height: 2;

    @include tab {
      font-size: clamp(22px, 2.2rem, 26px);
    }

    @include pc {
      font-size: 17px;
    }
  }
}

.outline {
  position: relative;
  &__title-wrapper {
    position: relative;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 67.5rem;
      height: 67.5rem;
      border-radius: 50%;
      background-color: $dammy2;
    }

    @include tab {
      height: 35rem;

      &::before {
        width: 138rem;
        height: 138rem;
      }
    }

    @include pc {
      height: 70rem;

      &::before {
        width: 345.6rem;
        height: 345.6rem;
      }
    }
  }

  &__title {
    margin-right: 0.5em;
    font-family: $roboto-slab;
    font-size: clamp(44px, 4.4rem, 70px);
    letter-spacing: 0.03em;
    white-space: nowrap;
    animation: scroll-title 15s linear infinite;

    @include tab {
      font-size: clamp(70px, 7rem, 120px);
    }

    @include pc {
      font-size: clamp(120px, 17.2rem, 172px);
    }
  }

  &__inner {
    @include section-inner;
    padding-top: 90px;
    padding-bottom: 160px;
    background-color: $dammy;

    @include tab {
      padding-bottom: 240px;
    }

    @include pc {
      padding-top: 150px;
    }
  }

  &__text-area {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include pc {
      margin-bottom: 150px;
      margin-inline: auto;
      flex-direction: row;
      justify-content: center;
      gap: 24px;
      max-width: 1150px;
    }
  }

  &__heading {
    font-size: clamp(24px, 2.4rem, 30px);
    font-weight: 700;
    line-height: 2;

    @include tab {
      font-size: clamp(30px, 3rem, 38px);
    }

    @include pc {
      font-size: 30px;
      width: 50%;
    }
  }

  &__text {
    font-size: clamp(16px, 1.6rem, 22px);
    line-height: 2;

    @include tab {
      font-size: clamp(22px, 2.2rem, 28px);
    }

    @include pc {
      font-size: 22px;
      width: 50%;
    }
  }

  &__list-wrapper {
    padding: 60px 30px;
    border-radius: 15px;
    background-color: $white;

    @include tab {
      padding: 60px 40px;
    }

    @include pc {
      padding: 160px;
      border-radius: 23px;
    }
  }

  &__list {
    padding: 40px 0;
    display: grid;
    gap: 40px;
    position: relative;

    &:first-of-type {
      padding: 0 0 40px;
    }

    &:last-of-type {
      padding: 40px 0 0;
    }

    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
    }

    @include pc-large {
      padding: 50px 0;
      grid-template-columns: 1fr 3.5fr;

      &:first-of-type {
        padding: 0 0 50px;
      }

      &:last-of-type {
        padding: 50px 0 0;
      }
    }
  }

  &__list-title {
    padding-left: 28px;
    font-size: clamp(18px, 1.8rem, 24px);
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 2;
    position: relative;
    align-self: flex-start;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 50%;
      aspect-ratio: 1;
      background-color: $dammy2;
    }

    @include tab {
      padding-left: 38px;
      font-size: clamp(24px, 2.4rem, 28px);
    }

    @include pc {
      font-size: clamp(20px, 2.4rem, 24px);
    }
  }

  &__list-title-note {
    font-size: clamp(10px, 1rem, 16px);
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 2;

    @include tab {
      font-size: clamp(16px, 1.6rem, 18px);
    }

    @include pc {
      font-size: 16px;
    }
  }

  &__list-text {
    line-height: 2;

    &--normal {
      font-size: clamp(12px, 1.2rem, 18px);

      @include tab {
        font-size: clamp(18px, 1.8rem, 22px);
      }

      @include pc {
        font-size: 18px;
      }
    }

    &--large {
      font-size: clamp(15px, 1.5rem, 18px);

      @include tab {
        font-size: clamp(18px, 1.8rem, 22px);
      }

      @include pc {
        font-size: 22px;
      }
    }

    &--small {
      font-size: clamp(13px, 1.3rem, 16px);

      @include tab {
        font-size: clamp(16px, 1.6rem, 18px);
      }

      @include pc {
        font-size: 16px;
      }
    }
  }
}

.hamburger-button {
  position: fixed;
  right: 30px;
  bottom: 40px;
  $parent: &;
  z-index: 100;

  @include pc {
    display: none;
  }

  &__button {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100vmax;
    background-color: $blue;
    opacity: 0.9;
    position: relative;

    &.js-actived {
      #{$parent}__line.top {
        transform: translate(-50%, -50%) rotate(-30deg);
      }

      #{$parent}__line.center {
        opacity: 0;
      }

      #{$parent}__line.bottom {
        transform: translate(-50%, -50%) rotate(30deg);
      }
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36%;
    height: 2px;
    transform-origin: center;
    background-color: $light-blue;
    transition:
      transform 0.4s ease-out,
      opacity 0.4s ease-out;

    &.top {
      transform: translate(-50%, calc(-50% - 6px));
    }

    &.center {
      transform: translate(-50%, -50%);
    }

    &.bottom {
      transform: translate(-50%, calc(-50% + 6px));
    }
  }
}
